<h1>Kine App</h1>

<p>
  Voici la page d'accueil de l'application.<br />
  Ici vous trouverez un accès à tous les modules ainsi qu'à tous les processus de login/password.
</p>

<%= link_to "Sign up now!", 'signup_path', :class => "signup_button round" %>
