ul.liste_onglet li{
	list-style: none;
	display: inline;
}

ul.liste_onglet {
	text-align: center;
	margin: 0 0 0 0;
}

.mon_onglet{
	/*float: left;*/
	padding: 2px 10px;
	margin-right: 5px;
	color: #333;
	background: #d8f8ca;
	border: 1px solid #68ce3e;
	cursor: pointer;
	margin-bottom: -1px;
}	
.mon_onglet:hover{
	background: #b8efa1;
}				
.mon_onglet_selected{
	/*float: left;*/
	padding: 2px 10px;
	margin-right: 5px;
	color: #333;
	background: #b8efa1;
	border-top: 1px solid #68ce3e;
	border-right: 1px solid #68ce3e;
	border-left: 1px solid #68ce3e;	
	border-bottom: 1px solid #b8efa1;	
	cursor: pointer;	
	margin-bottom: -1px;
}					
.clear{
	clear: both;
}
.mon_contenu{
	color: #666;
	background: #b8efa1;
	border: 1px solid #68ce3e;
	padding: 10px;				
}
#mes_contenus, #mes_onglets{
/*width: 400px;*/ /* largeur des onglets et menus... a priori y'a pas de raison de réduire ça*/
}
