<li>
  <%= gravatar_for user, :size => 30 %>
  <%= link_to user.nom.concat(" ").concat(user.prenom), user %>
  <% if current_user.admin? %>
	| <%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
                              	  :title => "Delete #{user.nom} #{user.prenom}" %>
  <% end %>
</li>