<li>
  <%= gravatar_for user, :size => 30 %>
  <%= link_to  ( "#{user.nom} #{user.prenom}") , user %>

	<!-- Si l'user est un admin on lui permet de faire des modifs-->
	<% if current_user.admin? %>
	| <%= link_to "delete", user, :method => :delete, :confirm => "Etes vous sur?",
                              	  :title => "Delete #{user.nom} #{user.prenom}" %>
  <% end %>
</li>