<h1>Tous les utilisateurs</h1>
<%= render 'search'%>
<%= will_paginate %>
<ul class="users">
	<%= render @users %> <!-- En faite rails comprend que il doit appeler render pour chaque user dans @users-->
</ul>
<%= will_paginate %>