<% title "Users" %>

<ul>
  <% for user in @users %>
    <li class="arrow">
      <%= link_to user.nom, user %>
      <small class="counter"><%= @users.size %></small>
    </li>
  <% end %>
</ul>

<ul><li class="arrow"><%= link_to "Nouvel Utilisateur", new_user_path %></li></ul>