<% title "Users" %>

<ul data-role="listview">
  <% for user in @users %>
    <li>
		<%= gravatar_for user %>
      	<%= link_to "#{user.prenom} #{user.nom}", user %>
		<span class="ui-li-count" ><%="Nb de patients a mettre"%></span><!-- Afin d'avoir un petit compteur à cote de la ligne-->	
    </li>
  <% end %>
</ul>

<ul><li class="arrow"><%= link_to "Nouvel Utilisateur", new_user_path %></li></ul>