<div  class="center">	
  <ul data-role="listview" data-filter="true"	>  
<% for ordonnance in @ordonnances %>
    <li>
      <%=" Ordonnance" %> <%= link_to ordonnance.numero, ordonnance_path(ordonnance)  %> <%="#{ordonnance.pathologie}  #{ordonnance.date.strftime("%d/%m/%Y")}" %>
    </li>
  <% end %>
</ul>