<div data-role="content">	
  <ul data-role="listview" data-filter="true"	>  
<% for ordonnance in @ordonnances %>
    <li>
      <%= link_to ordonnance.numero, ordonnance_path(ordonnance) %>
       <%= ordonnance.pathologie %>
       <%= ordonnance.date %>
    </li>
  <% end %>
</ul>