
        <div data-role="tabs">
            <ul>
                <li><a href="#tab-1" class="">Tab 1</a></li>
                <li><a href="#tab-2" class="">Tab 2</a></li>
            </ul>
        </div>
		<div data-role ="content">
        <div id="tab-1">
            <ul>
			<li>First thing</li>
            <li>Second Thing</li>
        	</ul>
		</div>	
        <div id="tab-2">
            <h2>Here is the second tab</h2>
        </div>
</div>