<header>
 <%= image_tag("iKine.png", :alt => "Sample App", :class => "round",  :height=> "70") %><!--Permet de charger le logo -->
  <nav class="round">
    <ul>
      <li><%= link_to "Home", 'home_path' %></li>
      <li><%= link_to "Help", 'help_path' %></li>
      <li><%= link_to "Sign in", 'signin_path' %></li>
    </ul>
  </nav>
</header>
