<footer>
  <nav>
    <ul class="rounded">
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
	  <li><a href="http://iKine.com/news">News</a></li>
      <li><a href="http://ikine.heroku.com">iKine</a></li>
    </ul>
  </nav>
</footer>
